doctype
html
    head
        title News At All Hours Of The Day
        link(href='/style/main.css', rel='stylesheet')
        script(src='/scripts/weather.js')
        script(src='/scripts/timeAndDate.js')
        script(src='/scripts/stock.js')
    body(onload='setup()')
        div#menu-bar
            img(id='logo', src='/images/weatherlogoNight.png')
            a(href='/') Home
            a(href='/') Today's Forecast
            a(href='/') 5 Day Forecast
            a(href='/') Stock Ticker
            a(href='/') Radio
            a(href='/') Live News
            p#time 0:0:0
            p#date 0/0/0

    section#today
        p#location location
        p#temperature not real weather
        img(id='weatherpic', src='')
        p#weather weather
        div#search
            label(for="searchString") Search City:
            input(id="searchCity",name="searchCity",type="text",value="Salt Lake City, UT")
            input(id="submit", name="submit", type="Submit", onclick="search()")
        section#rssFeed
    section#fiveDay
    section#stockTicker
    section#radio
    section#liveNews
        video
            source(src='https://www.youtube.com/watch?v=y60wDzZt8yg', type='video/mp4', codecs="avc1.42E01E, mp4a.40.2", autoplay="autoplay")
    
    