doctype
html
    head
        title News At All Hours Of The Day
        link(href='/styles/main.css', rel='stylesheet')
        script(src='weather.js')
        script(src='timeAndDate.js')
        script(src='stock.js')
        script(src='rssFeed.js')
    body
        div#menu-bar
            a(href='/') Home
            a(href='/') Today's Forecast
            a(href='/') 5 Day Forecast
            a(href='/') Stock Ticker
            a(href='/') Radio
            a(href='/') Live News

    section#today
        section#rssFeed
    section#fiveDay
    section#stockTicker
    section#radio
    section#liveNews
        