doctype
html
    head
        title News At All Hours Of The Day
        link(href='/style/main.css', rel='stylesheet')
        script(src='/scripts/jquery-2.1.4.min.js')
        script(src='/scripts/weather.js')
        script(src='/scripts/timeAndDate.js')
        script(src='/scripts/stock.js')
    body(onload='setup()')
        div#menu-bar
            a(href='/') Home
            a(href='/') Today's Forecast
            a(href='/') 5 Day Forecast
            a(href='/') Stock Ticker
            a(href='/') Radio
            a(href='/') Live News
            p#time 0:0:0
            p#date 0/0/0

    section#today
        section#rssFeed
    section#fiveDay
        h1 5-Day Forecast Weather
        span(id="Weather-Insert")
    section#stockTicker
    section#radio
    section#liveNews
        